.content-wrapper {
    padding: 16px;
}

.mat-elevation-z8 {
    margin-bottom: 20px;
    border-radius: 8px;
    overflow: hidden;
}

h3 {
    background: #d2d2d2;
    padding: 10px;
    border-radius: 4px;
    font-size: 18px;
    margin: 0;
}
