<h2 mat-dialog-title>เข้าสู่ระบบ</h2>

<mat-dialog-content>
    <mat-form-field appearance="fill" class="w-100">
        <mat-label>Username</mat-label>
        <input matInput [(ngModel)]="username" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-100">
        <mat-label>Password</mat-label>
        <input matInput type="password" [(ngModel)]="password" />
    </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button (click)="onCancel()">ยกเลิก</button>
    <button mat-button color="primary" (click)="onLogin()">ยืนยันการรับยา</button>
</mat-dialog-actions>