<body class="container-fluid">
  <div class="scanner-header">

    <p>เลือก WARD</p>
    <!-- <div class="time-display">{{currentTime | date:'HH:mm'}}</div> -->

    <div class="scan-input-container">
      <i class="fas fa-search"></i>
      <input type="text" class="scan-input" placeholder="ค้นหา" [(ngModel)]="FIND"
        (ngModelChange)="filterWardByText(FIND)" />
      <!-- (focus)="onFocus()" #medicationInput2 inputmode="seตarch" -->
    </div>

  </div>

  <table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Code</th>
        <th scope="col">(EN)</th>
        <th scope="col">(TH)</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ward of WARD; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ ward.wardcode }}</td>
        <td>{{ ward.warddescEN }}</td>
        <td>{{ ward.warddescTH }}</td>
        <td>
          <button class="btn btn-sm btn-primary" (click)="bnSelect(ward)">
            เลือก
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- <div class="login-container">
    <ul class="list-group list-group-light" *ngFor="let ward of WARD">
      <li class="list-group-item px-3 border-0">{{ ward.warddescTH }}</li>
    </ul>
  </div> -->
</body>