<div class="content-wrapper">
    <section class="content-header hospital-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h3 class="hospital-title">
                        <!-- <mat-icon>person</mat-icon> -->
                        <span>Stock Robot</span>
                    </h3>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right hospital-breadcrumb">
                        <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
                        <li class="breadcrumb-item active">Stock Robot</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <div class="spinner-overlay" *ngIf="loading">
        <div class="spinner-circle">
            <div class="spinner-inner"></div>
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card hospital-card">

                        <div class="card-body hospital-card-body">
                            <div class="hospital-table-header">

                                <!-- <button class="hospital-add-button" (click)="openPopup()" mat-raised-button>
                                    <mat-icon>add</mat-icon> And Device
                                </button> -->
                                <mat-form-field appearance="outline" style="width: 300px !important;">
                                    <mat-label>Filter</mat-label>
                                    <input matInput (keyup)="applyFilter($event)" placeholder="เช่น: SE" #input>
                                    <mat-icon matSuffix>search</mat-icon>
                                    <!-- <button (click)="getDevice()"></button> -->
                                </mat-form-field>
                            </div>
                            <!-- เปลี่ยนส่วนของตารางเป็นแบบนี้ -->
                            <section class="hospital-table-container mat-elevation-z8" tabindex="0">
                                <table mat-table [dataSource]="dataSource" matSort
                                    class="demo-table hospital-data-table">
                                    <!-- Columns -->
                                    <ng-container matColumnDef="drugCode">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header
                                            class="hospital-table-header-cell">
                                            <div class="hospital-column-header">
                                                <!-- <mat-icon>code</mat-icon> -->
                                                <span>drugCode</span>
                                            </div>
                                        </th>
                                        <td mat-cell *matCellDef="let row" class="hospital-table-cell">
                                            <span class="hospital-user-id">{{ row.drugCode }}</span>
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="drugName">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header
                                            class="hospital-table-header-cell">
                                            <div class="hospital-column-header">
                                                <!-- <mat-icon>groups</mat-icon> -->
                                                <span>drugName</span>
                                            </div>
                                        </th>
                                        <td mat-cell *matCellDef="let row" class="hospital-table-cell">
                                            <span class="hospital-user-id">{{ row.drugName }}</span>
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="location">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header
                                            class="hospital-table-header-cell">
                                            <div class="hospital-column-header">
                                                <!-- <mat-icon>groups</mat-icon> -->
                                                <span>location</span>
                                            </div>
                                        </th>
                                        <td mat-cell *matCellDef="let row" class="hospital-table-cell">
                                            <span class="hospital-user-id">{{ row.location }}</span>
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="drugPosition">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header
                                            class="hospital-table-header-cell">
                                            <div class="hospital-column-header">
                                                <!-- <mat-icon>groups</mat-icon> -->
                                                <span>drugPosition</span>
                                            </div>
                                        </th>
                                        <td mat-cell *matCellDef="let row" class="hospital-table-cell">
                                            <span class="hospital-user-id">{{ row.drugPosition }}</span>
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="Quantity">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header
                                            class="hospital-table-header-cell">
                                            <div class="hospital-column-header">
                                                <!-- <mat-icon>groups</mat-icon> -->
                                                <span>Quantity</span>
                                            </div>
                                        </th>
                                        <td mat-cell *matCellDef="let row" class="hospital-table-cell">
                                            <span class="hospital-user-id">{{ row.Quantity }}</span>
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="lot">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header
                                            class="hospital-table-header-cell">
                                            <div class="hospital-column-header">
                                                <!-- <mat-icon>groups</mat-icon> -->
                                                <span>lot</span>
                                            </div>
                                        </th>
                                        <td mat-cell *matCellDef="let row" class="hospital-table-cell">
                                            <span class="hospital-badge hospital-position-badge">{{ row.lot
                                                }}</span>
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="exp">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header
                                            class="hospital-table-header-cell">
                                            <div class="hospital-column-header">
                                                <!-- <mat-icon>groups</mat-icon> -->
                                                <span>exp</span>
                                            </div>
                                        </th>
                                        <td mat-cell *matCellDef="let row" class="hospital-table-cell">
                                            <span class="hospital-user-id">{{ row.exp }}</span>
                                        </td>
                                    </ng-container>

                

                                    <tr mat-header-row *matHeaderRowDef="displayedColumns" class="hospital-header-row">
                                    </tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                                        class="hospital-data-row">
                                    </tr>

                                    <tr class="mat-row" *matNoDataRow class="hospital-data-row-no">
                                        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"
                                        </td>
                                    </tr>

                                    <tr class="hospital-no-data-row" *matNoDataRow>
                                        <td class="hospital-no-data-cell" colspan="8">
                                            <div class="hospital-no-data-content">
                                                <mat-icon class="hospital-no-data-icon">search_off</mat-icon>
                                                <p>ไม่พบข้อมูลที่ตรงกับ "{{input.value}}"</p>
                                            </div>
                                        </td>
                                    </tr>
                                </table>

                                <!-- เพิ่มข้อความโหลดข้อมูล -->
                                <!-- <div class="hospital-loading-overlay" *ngIf="loading">
                                    <mat-spinner diameter="40"></mat-spinner>
                                    <p>กำลังโหลดข้อมูล...</p>
                                </div> -->
                            </section>


                            <mat-paginator [pageSizeOptions]="[10, 50, 100]" class="hospital-paginator"
                                aria-label="Select page of users"></mat-paginator>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="content">
        <div class="container-fluid">
        </div>
    </section>
</div>